:root{
    --purple:#541690;
    --red: #FF4949;
    --organge: #FF8D29;
    --yellow: #FFCD38;
}


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display:flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: var(--yellow);
}

#main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.header{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 5px;
    background-color: var(--purple);
    text-shadow: 5px 5px #fa2a2a;
}
.headerTitle{
    font-size: 5rem;
    font-weight: bold;
    padding-bottom: 10px;
    color: var(--red);
}

.optionContainer{
    display: flex;
    align-items:center;
    width: 50%;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 5px;
}

.buttonFront{
    background-color:var(--purple);
    color: var(--red);
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px #fa2a2a;
}

.buttonFront:hover{
    color: #fa2a2a;
}

.content{
    flex:10;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
}

.contentContainer{
    width: 80%;
    height: 90%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: var(--red);
    box-shadow: 2px 2px 2px 1px #fa2a2a;
}

.footer{
    flex:0.5;
    display:flex;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #541690;
    text-shadow: 1px 1px #47038b;
}


