:root{
    --purple:#541690;
    --red: #FF4949;
    --orange: #FF8D29;
    --yellow: #FFCD38;
}


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display:flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: var(--yellow);
}

#main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.header{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 5px;
    background-color: var(--purple);
    text-shadow: 5px 5px #fa2a2a;
}

.headerTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    gap: 10px;
    font-weight: bold;
    padding-bottom: 10px;
    color: var(--red);
}

.headerTitleContainer>.material-icons{
    font-size: 4rem;
}

.optionContainer{
    display: flex;
    align-items:center;
    width: 50%;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 5px;
}

.buttonFront{
    background-color:var(--purple);
    color: var(--red);
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px #fa2a2a;
}

.buttonFront:hover{
    color: #fa2a2a;
}

.content{
    flex:auto;
    display: flex;
    height: 75%;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
}

.contentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 10px;
    border: none;
    gap: 20px;
}



/* Home Info */
.textContainer{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 600px;
}

.mainTitle{
    display:flex;
    flex: 1;
    font-size: 80px;
    font-weight: bold;
    color: var(--purple);
    text-shadow: 5px 5px var(--orange);
}

.homeImage{
    height: 70%;
    width: auto;
}

/* About */
.mainTitleAbout{
    display:flex;
    flex: 1;
    font-size: 90px;
    font-weight: bold;
    color: var(--purple);
    text-shadow: 5px 5px var(--orange); 
}

.mainTextAbout{
    font-size: 30px;
    font-weight: bold;
    color: var(--purple);
    text-shadow: 2px 2px var(--orange); 
}

.aboutImage{
    height: 70%;
    width: auto;
    border-radius: 20px;
}

/* contact */
.contactTitle, .imageContainerTitle{
    font-size: 50px;
    font-weight: bold;
    color: var(--purple);
    text-shadow: 5px 5px var(--orange); 
}

.contact{
    font-size: 30px;
    font-weight: bold;
    color: var(--purple);
    text-shadow: 2px 2px var(--orange); 
}

.imageContainerImage{
    border-radius: 20px;
    width: 80%;
    height: auto;
}


.footer{
    flex:1;
    display:flex;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #541690;
    text-shadow: 1px 1px #47038b;
}


